
@mixin Center(){ // Generella centreringar
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flexCenter($background) { // Funktion som generalliserar centrering, använd primärt för min header
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    height: 4vw;
    background: $background;
    border: 0.5vw solid rgb(18, 40, 110);
    
}

body { // Bakgrunds färg för sidan
    background-color: rgb(18, 40, 110);
}

header { // Header för alla sidor
    @include Center();

    a{
        width: 10vw;
    }
 
    .boxhome{
        @include flexCenter(rgb(0, 132, 255));
    }

    .boxaboutme{
        @include flexCenter(rgb(0, 132, 255));
    }

    .boxchampionpool{
        @include flexCenter(rgb(0, 132, 255));
    }

    .boxthingsihate{
        @include flexCenter(rgb(0, 132, 255));
    }

    .boxmisc{
        @include flexCenter(rgb(0, 132, 255));
    }

}
.index { // CSS för allt på start/home sidan
        p{
            @include Center();
            background-color: rgb(0, 110, 255);
            font-size: 50px;
            width: 50%;
            margin-left: 25%;
        }
    
    .form {
        width: 50%;
    }
    .textbox {
        width: 25%;
        float: right;
        background-color: white;
        font-size: 10px;
    }
}

.aboutme { // CSS för allt på about me sidan
    p{
        @include Center();
        background-color: rgb(0, 110, 255);
        font-size: 40px;
        width: 50%;
        float: left;
        margin-left: 6%;
        
    }

    .picture{
        width: 50%;

        img {
        height: auto;
        width: 75%;
        float: left;
        margin-top: 3%;
        margin-left: 3%;
       }
    }
}
.championpool { // CSS för allt på championpool sidan
    p{
        @include Center();
        background-color: rgb(0, 110, 255);
        font-size: 40px;
        width: 50%;
        float: left;
        margin-left: 6%;
        
    }

    .picture{
        width: 50%;

        img {
        height: auto;
        width: 50%;
        float: left;
        margin-top: 3%;
        margin-left: 3%;
       }
    }
}
.thingsihate { // CSS för allt på things i hate sidan
    p{
        @include Center();
        background-color: rgb(0, 110, 255);
        font-size: 40px;
        width: 50%;
        float: left;
        margin-left: 6%;
        
    }

    .picture{
        width: 50%;

        img {
        height: auto;
        width: 50%;
        float: left;
        margin-top: 3%;
        margin-left: 3%;
       }
    }
}
.misc { // CSS för allt på misc sidan
    p{
        @include Center();
        background-color: rgb(0, 110, 255);
        font-size: 40px;
        width: 50%;
        float: left;
        margin-left: 6%;
        
    }

    .picture{
        width: 50%;

        img {
        height: auto;
        width: 50%;
        float: left;
        margin-top: 3%;
        margin-left: 3%;
       }
    }
}