body {
  background-color: #12286e;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header a {
  width: 10vw;
  font-size: 1.5vw;
}

header .boxhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 4vw;
  background: #0084ff;
  border: 0.5vw solid #12286e;
}

header .boxaboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 4vw;
  background: #0084ff;
  border: 0.5vw solid #12286e;
}

header .boxchampionpool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 4vw;
  background: #0084ff;
  border: 0.5vw solid #12286e;
}

header .boxthingsihate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 4vw;
  background: #0084ff;
  border: 0.5vw solid #12286e;
}

header .boxmisc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 4vw;
  background: #0084ff;
  border: 0.5vw solid #12286e;
}

.index p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #006eff;
  font-size: 2vw;
  width: 50%;
  margin-left: 25%;
}

.index .form {
  width: 50%;
  font-size: 0.75vw;
}

.index .textbox {
  width: 25%;
  float: right;
  background-color: white;
  font-size: 0.5vw;
}

.aboutme p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #006eff;
  font-size: 2vw;
  width: 50%;
  float: left;
  margin-left: 6%;
}

.aboutme .picture {
  width: 50%;
}

.aboutme .picture img {
  height: auto;
  width: 75%;
  float: left;
  margin-top: 3%;
  margin-left: 3%;
}

.championpool p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #006eff;
  font-size: 1.2vw;
  width: 50%;
  float: left;
  margin-left: 6%;
}

.championpool .picture {
  width: 50%;
}

.championpool .picture img {
  height: auto;
  width: 50%;
  float: left;
  margin-top: 3%;
  margin-left: 3%;
}

.thingsihate p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #006eff;
  font-size: 4vw;
  width: 50%;
  float: left;
  margin-left: 6%;
}

.thingsihate .picture {
  width: 50%;
}

.thingsihate .picture img {
  height: auto;
  width: 50%;
  float: left;
  margin-top: 3%;
  margin-left: 3%;
}

.misc p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #006eff;
  font-size: 2vw;
  width: 50%;
  float: left;
  margin-left: 6%;
}

.misc p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5vw;
  width: 50%;
  float: left;
}

.misc .picture {
  width: 50%;
}

.misc .picture img {
  height: auto;
  width: 50%;
  float: left;
  margin-top: 3%;
  margin-left: 3%;
}
/*# sourceMappingURL=master.css.map */