<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="boxhome"><a href="/">Home</a></div>
        <div class="boxaboutme"><a href="aboutme.ejs">About Me</a></div>
        <div class="boxchampionpool"><a href="championpool.ejs">Champion Pool</a></div>
        <div class="boxthingsihate"><a href="thingsihate.ejs">Things I Hate</a></div>
        <div class="boxmisc"><a href="misc.ejs">Misc.</a></div>
    </header>
    
</body>
</html>