<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Jack's League Blog</title>
</head>
<body>
    <div class="aboutme">
    <header>
        <div class="boxhome"><a href="/">Home</a></div>
        <div class="boxaboutme"><a href="aboutme">About Me</a></div>
        <div class="boxchampionpool"><a href="championpool">Champion Pool</a></div>
        <div class="boxthingsihate"><a href="thingsihate">Things I Hate</a></div>
        <div class="boxmisc"><a href="misc">Misc.</a></div>
    </header>

    <div class="picture">
        <img src="Pictures/profile.png" alt="">
    </div>
    <p>I have been playing League since the start of Season 6 and have been an addict of this god forsaken game ever since. My main account resides on the EUNE server which
        currently sits at Platinum 1, but i also don't play ranked on my main account for now because i'm currently grinding on west.
        I thought about transfering to West multiple times but later decided on just having a sepperate account for playing ranked on west instead.
        I didn't want to lose my eternal progress xd. 
    </p>

    <div class="picture">
        <img src="Pictures/profilewest.png" alt="">
    </div>
    <p>Funnily enough is my West account also Plat 1 at the moment, i see so many people brag about how West OBVIOUSLY is the better region, but how come i am the same rank
        on both servers then? real sugma hours.
    </p>

    <div class="picture">
        <img src="Pictures/profilena.png" alt="">
    </div>
    <p>Lastly we have my NA account, i haven't touched it in over a year but it is somehow higher leveled than my west account? Think i played up to gold on this account but
        stopped playing because 150 ping isn't really fun to play with.
    </p>

    </div>
</body>
</html>