<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Jack's League Blog</title>
</head>
<body>
    <div class="championpool">
        <header>
            <div class="boxhome"><a href="/">Home</a></div>
            <div class="boxaboutme"><a href="aboutme">About Me</a></div>
            <div class="boxchampionpool"><a href="championpool">Champion Pool</a></div>
            <div class="boxthingsihate"><a href="thingsihate">Things I Hate</a></div>
            <div class="boxmisc"><a href="misc">Misc.</a></div>
        </header>
    
        <div class="picture">
            <img src="Pictures/pool1.png" alt="">
        </div>
        <p>I play a WIDE variety of champions. Currently I main jungle and play a lot of tanks, but i often swap around what I like to play. I'll rate champs 0-10 of how much I enjoy playing
           them currently. 
           <br> <br> Garen = 10/10, Don't play him that often anymore but I always have a blast playing him 
           <br> Aurelion Sol = 3/10, His rework sucks D:
           <br> Rammus = 7/10, Always fun to make ADCs suffer :DD
           <br> Evelynn = 7/10, Always fun to make ADCs suffer :DD
           <br> Irelia = 10/10, Incredibly cool and extremely fun to pop off on
           <br> Jhin = 8/10, Counting is fun c:
           <br> Cho'Gath = 8/10, chompy time
           <br> Skarner = 5/10, After Phaserush and Chemtank nerfs kidnapping isnt as viable 
           <br> Kha'Zix = ?/10, Haven't played in a while
           <br> Quinn = ???/10, Haven't played since eternals came out XD

        </p>
    
        <div class="picture">
            <img src="Pictures/pool2.png" alt="">
        </div>
        <p> Shyvana = 9/10, Being able to flex one shot fire ball or bruiser mennace is fun 
           <br> Veigar = 7/10, God I love stacking
           <br> Akali = 9/10, Same thing as Ireia but feels slightly worse to play
           <br> Mordekaiser = 8/10, Always fun to make ADCs suffer :DD
           <br> Xin Zhao = ?/10, Haven't played in a while, AP Xin is a meme tho
           <br> Aatrox = 6/10, Had more fun playing him before the Season 11 item rework
           <br> Lillia = 10/10, My most played champ this year, just look at those eternals. The Deer is Pog
           <br> Kindred = 7/10, God I love stacking
           <br> Ezreal = 7/10, pew pew
           <br> Ashe = 6/10, pew pew

        </p>
    
        <div class="picture">
            <img src="Pictures/pool3.png" alt="">
        </div>
        <p> Fiddlesticks = 7/10, Wow this champ doesn't die
           <br> Sett = 9/10, What a sexy beast
           <br> Yasuo = 9/10, As much as people hate the champ, he is just too fun to play
           <br> Kayn = 8/10, Zoomer assassin or Boomer Bruiser, pick your fighter
           <br> Malphite = 6/10, rock go brrrr
           <br> Zoe = 8/10, Always fun to make ADCs suffer :DD
           <br> Nidalee = 9/10, Same as Irelia/Akali
           <br> Master Yi = 7/10, Same as Yasuo but ACTUALLY braindead XD
           <br> Nunu & Willump = 6/10, Time to run it down
           <br> Gnar = 7/10, GNARRR GADDA

        </p>

        <div class="picture">
            <img src="Pictures/pool4.png" alt="">
        </div>
        <p> Zac = 7/10, blob
            <br> Neeko = 8/10, I can be whoever you want me to be
            <br> Aphelios = 200 years/200 years, would 200 years again
            <br> Jarvan IV = 7/10, I got mastery 7 on this guy?
            <br> Viego = 10/10, God I love this man
            <br> Annie = 7/10, I am legally not allowed to love this girl
            <br> Vayne = 8/10, If you let me out of laning phase unscathed, you are fucked
            <br> Kennen = ?/10, Haven't played in a while
            <br> Xayah = 6/10, Feather outplays are smexy
            <br> Xerath = 6/10, If only I knew how to hit skillshots...
        </p>

        <div class="picture">
            <img src="Pictures/pool5.png" alt="">
        </div>
        <p> Ekko = 7/10, I do not like this mans early game but late game? crazy child
            <br> Pyke = 8/10, Farm? Don't need it
            <br> Lux = 7/10, haha I hit Q now you die
            <br> Teemo = 6/10, wow what a degenerate
            <br> Sona = ?/10, Haven't played in a while
            <br> Kai'sa = 7/10, Everything in one package right here
            <br> Sion = 6/10, The PAIN train
            <br> Sejuani = 7/10, whip time
            <br> Nasus = 7/10, God I love stacking
            <br> Orianna = 8/10, Ball goes swoosh
        </p>
    
        </div>
</body>
</html>