<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Jack's League Blog</title>
</head>

<body>
    <div class="index">
        <header>
            <div class="boxhome"><a href="/">Home</a></div>
            <div class="boxaboutme"><a href="aboutme.ejs">About Me</a></div>
            <div class="boxchampionpool"><a href="championpool.ejs">Champion Pool</a></div>
            <div class="boxthingsihate"><a href="thingsihate.ejs">Things I Hate</a></div>
            <div class="boxmisc"><a href="misc.ejs">Misc.</a></div>
        </header>
            <p>Hello there and welcome to my League of Legends related website! Here you will be able to read about my bad takes on League of legends and also be able to see which
                degenerate champions I play :DDD
            </p>

        <div class="form">
        
            <form action="/" method="post" style="color: aquamarine;">
                <label><b>If you would like to leave a comment please enter your Email and thereafter whatever you would like to comment</b></label><br>
                <input type="email" name="email"><br>
                <input type="text" name="message">
                <input type="submit" value="Submit your wrong opinion!">
              </form>
        
        
        </div>

        <% for( let i=0; i < messages.length; i++ ) { %>
        <div class="textbox" style="background-color: rgb(0, 207, 197);">
            <h1>message.email</h1>
            <h1>message.text</h1>
        </div>
        <% } %>

    </div>


</body>

</html> 