<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Jack's League Blog</title>
</head>
<body>
    <div class="misc">
        <header>
            <div class="boxhome"><a href="/">Home</a></div>
            <div class="boxaboutme"><a href="aboutme">About Me</a></div>
            <div class="boxchampionpool"><a href="championpool">Champion Pool</a></div>
            <div class="boxthingsihate"><a href="thingsihate">Things I Hate</a></div>
            <div class="boxmisc"><a href="misc">Misc.</a></div>
        </header>
    
        <div class="picture">
            <img src="Pictures/bb1.jpg" alt="">
        </div>
        <p>Here are some random thoughts and stuff I guess
        </p>
    
        <div class="picture">
            <img src="Pictures/bb2.jpg" alt="">
        </div>
        <p>Please bring back Twisted Treeline, that was such a gamer gamemode. In fact, just bring back all gamemodes, let us play whatever the fuck we want riot
            stop being bitches and be all "oh no it is too hard to keep updating them D:". Stupid indie company
        </p>
    
        <div class="picture">
            <img src="Pictures/bb3.jpg" alt="">
        </div>
        <p> this man on your left is my son, da baby
        </p>

        <div class="picture">
            <img src="Pictures/tigerwoods.png" alt="">
        </div>
        <p> <b>Tiger Woods PGA Tour 2003</b>
        </p>

        <div class="picture">
            <img src="Pictures/zac.png" alt="">
        </div>
        <p>Subscribe to my man Zachris on le Youtube thanks <a href="https://www.youtube.com/channel/UCkE9Vq4tcNfoDaEgGQHVGVg/videos">"I am subscribe!"</a>
        </p>
    
        </div>
</body>
</html>