<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>Jack's League Blog</title>
</head>
<body>
    <div class="thingsihate">
        <header>
            <div class="boxhome"><a href="/">Home</a></div>
            <div class="boxaboutme"><a href="aboutme">About Me</a></div>
            <div class="boxchampionpool"><a href="championpool">Champion Pool</a></div>
            <div class="boxthingsihate"><a href="thingsihate">Things I Hate</a></div>
            <div class="boxmisc"><a href="misc">Misc.</a></div>
        </header>
    
        <div class="picture">
            <img src="Pictures/zed.jpg" alt="">
        </div>
        <p>remove
        </p>
    
        <div class="picture">
            <img src="Pictures/kassa.jpg" alt="">
        </div>
        <p>these
        </p>
    
        <div class="picture">
            <img src="Pictures/vlad.jpg" alt="">
        </div>
        <p>champs
        </p>

        <div class="picture">
            <img src="Pictures/shaco.jpg" alt="">
        </div>
        <p>thank you
        </p>

        <div class="picture">
            <img src="Pictures/cait.jpg" alt="">
        </div>
        <p>ESPECIALLY THIS MOTHER FUCKER
        </p>
    
        </div>
</body>
</html>